body{
	
}

.wrapper {
	/*This part is important for centering*/
	display: grid;
	place-items: center;
}

.typing-demo {
	width: 13ch;
	animation: typing 2s steps(22), blink .5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	border-right: 2px solid;
	font-family: 'Times New Roman';
	font-size: 30px;
}

@keyframes typing {
	from {
		width: 0
	}
}

@keyframes blink {
	50% {
		border-color: transparent
	}
}