
<footer class="footer border-top py-3 text-muted fixed-bottom bg-light bg-dark">
	<div class="container text-white">
		<environment include="Development" exclude="Production">
			Development Mode
		</environment>

		<environment include="Production" exclude="Development">
			Production Mode
		</environment>

		|
		&copy;2022

		|
		@(Resources.DataDictionary.SiteTitle)
	</div>
</footer>
