@import url(fontiran.css);

.typing-demo {
	width: 17ch;
	font-size: 2.5vw;
	overflow: hidden;
	white-space: nowrap;
	border-left: 2px solid;
	animation: typing 2s steps(17), blink .5s step-end infinite alternate;
}

@keyframes typing {
	from {
		width: 0%
	}
}

@keyframes blink {
	50% {
		border-color: transparent
	}
}

body {
	font-family: IRANSansX !important;
}

h1, h2, h3, h4, h5, h6, input, textarea {
	font-family: IRANSansX !important;
}

h1 {
	font-weight: bold !important;
}

.ltr {
	direction: ltr;
}
