@page
@model Server.Pages.IndexModel
@{
}
@*<div class="mt-5 h-100 w-100 d-inline-block text-center justify-content-center align-center" id="main-div">
	<div>
		<img src="/images/Payman.jpg" class="border border-5 border-light rounded-circle" id="profilePicture"/>
	</div>
</div>*@
@*<div class="wrapper">
	<div class="typing-demo">
		<span>@(Resources.DataDictionary.Introduction)</span>
	</div>
</div>*@

<div class="mt-2 h-100 w-100 text-center justify-content-center align-center">
	<div>
		<img src="/images/Payman.jpg" class="border border-3 border-light rounded-circle h-auto w-25" />
	</div>
	<div class="wrapper">
		<div class="typing-demo">
			<span>@(Resources.DataDictionary.Introduction)</span>
		</div>
	</div>
</div>
