@page
@model Server.Pages.IndexModel
@{
}

@*<div class="d-flex flex-column justify-content-start align-items-center h-100">

	<img src="/images/Payman.jpg" class="border border-3 border-light rounded-4 h-auto" id="indexmypicture" />

	<div class="typing-demo">
		<span>@(Resources.DataDictionary.Introduction)</span>
	</div>

</div>*@

<div class="d-flex h-100 justify-content-start rounded-2" id="maindivindex">

	<div class="d-flex flex-column justify-content-center align-content-center rounded-2" id="profiledivindex">

		<div>

			<div class="d-flex justify-content-center align-content-center">

				<img src="images/Payman.jpg" class="border border-3 border-light rounded-4 h-auto" id="indexmypicture" alt="Image" />

			</div>

			<div class="text-white text-center">
				<span>@(Resources.DataDictionary.FullName)</span>
			</div>

			<div class="d-flex justify-content-center">

				<div class="typing-demo text-white">
					<span>@(Resources.DataDictionary.Introduction)</span>
				</div>

			</div>

		</div>

	</div>

	<div class="w-100 d-flex flex-column justify-content-center text-center text-white h-100">
		<div class="d-md-flex justify-content-center">
			<div class="bg-white bg-opacity-75 rounded-2 border border-2 px-5">
				<span id="descriptionindex" class="text-dark display-6 fw-semibold space">
					@(Html.Raw(Resources.DataDictionary.ShortDescription))
				</span>
			</div>
		</div>
	</div>

</div>