@{
	var textColorClass =
		Constants.FixedUIParameters.MainTextColor;
}

<footer class="footer border-top py-3 text-muted fixed-bottom bg-light bg-dark">
	<div class="container @(textColorClass)">
		<environment include="Development" exclude="Production">
			Development Mode
		</environment>

		<environment include="Production" exclude="Development">
			Production Mode
		</environment>

		|
		&copy;1401

		|
		@(Resources.DataDictionary.SiteTitle)
	</div>
</footer>
